@charset "utf-8";

*{ box-sizing: border-box; margin: 0 }

body {
    font-family: "맑은 고딕","굴림","Arial";
    background:#FFF;
    color:#333;
}

a { color:#333; text-decoration: none }


#container {
    width:1200px;
    margin:auto;
    border:1px solid #ccc;
}

#header {
    width:100%; height: 100px;
}

#inBox {
    width:1200px;
    margin:auto;
    display: flex;
}

#logo {
    width:200px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navi {
    width:1000px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#navi ul { list-style: none; padding:0 }

#menu {
    display: flex; width:800px;
}

.main {
    width:25%;
    line-height: 50px;
    text-align: center;
    background:#0076be;
    transition:.3s;
    position:relative;
}

.main:hover { 
    background:#045586;
}

.main>a { color:#FFF }

.subMenu {
    position: absolute;
    top:100%;
    width:100%;
    background: rgba(255,255,255,.7);
    display: none;
}

.sub {
    width:100%;
    line-height: 40px;
}

.sub:hover { background:#e66b27 }

.sub:hover > a { color:#FFF }


/*----------------------------- secB -----------------------------*/
#secB {
    width:100%;
    height: 300px;
    margin: auto;
    overflow: hidden;
}

#slideBox {
    width:300%;
    display: flex;
    transition:.5s;
}

.slide {
    width:33.3333%;
    display: block;
}


/*----------------------------- secC -----------------------------*/
#secC {
    width:100%; height: 200px;
    display: flex;
    background:#0076BE;
}

#secC .box1 {
    width:400px;
    padding:5px;
}

.button {
    border:none; background:#777;
    width:100px; line-height: 40px;
    text-align: center;
    color:#FFF;
    cursor: pointer;
}

.button:hover { background:#FFF; color:#000 }

.active { background:#FFF; color:#000 }


#notice {
    background:#fff;
    list-style: none;
    padding:0;
}

#notice>li {
    padding:6px;
    display: flex;
    justify-content: space-between;
}

#notice>li>a {
    text-decoration: none;
    color:black;
}


#notice>li>a:hover { text-decoration: underline }

#gallery { /* 갤러리 박스 */
    background:#FFF;
    height: 147px;  
    text-align: center;
    display: none;
}

#gallery img {
    width:100px;
    margin:20px 5px;
}

#modal {  /* 모달창 */
    position:fixed; top:0; left:0;
    width:100%; height: 100%;
    background:rgba(0,0,0,.5);
    display: none;
    justify-content: center; align-items: center;
}

#modalContents {
    width:600px; padding:20px;
    background:#FFF;
    line-height: 1.8rem;
}

#modalContents>h2 {
    font-size: 2rem; margin-bottom: 20px;
}

#modalClose {
    background: #b5ddff;
    border:none;
    font-size: 1.5rem;
    display: block; margin-left:auto;
    cursor: pointer;
}


/*----------------------------- footer -----------------------------*/
#foot {
    width:100%;
    height: 100px;
    background: #777;
    color:#FFF;
    display: flex;
}

#logo2 {
    width:200px;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#copyright {
    width:800px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}










