@charset "utf-8";

*{ box-sizing: border-box; margin: 0 }

body {
    font-family: "맑은 고딕","굴림","Arial";
    background:#FFF;
    color:#333;
}

a { color:#333; text-decoration: none }


#container {
    width:1200px;
    margin:auto;
    border:1px solid #ccc;
}

#header {
    width:100%; height: 100px;
}

#inBox {
    width:1200px;
    margin:auto;
    display: flex;
}

#logo {
    width:200px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navi {
    width:1000px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#navi ul { list-style: none; padding:0 }

#menu {
    display: flex; width:800px;
}

.main {
    width:25%;
    line-height: 50px;
    text-align: center;
    background:#0076be;
    transition:.3s;
    position:relative;
}

.main:hover { 
    background:#045586;
}

.main>a { color:#FFF }

.subMenu {
    position: absolute;
    top:100%;
    width:100%;
    background: rgba(255,255,255,.7);
    display: none;
}

.sub {
    width:100%;
    line-height: 40px;
}

.sub:hover { background:#e66b27 }

.sub:hover > a { color:#FFF }


/*----------------------------- secB -----------------------------*/
#secB {
    width:100%;
    height: 300px;
    margin: auto;
    overflow: hidden;
}

#slideBox {
    width:300%;
    display: flex;
    transition:.5s;
}

.slide {
    width:33.3333%;
    display: block;
}


/*----------------------------- secC -----------------------------*/
#secC {
    width:100%; height: 200px;
    display: flex;
    background:#0076BE;
}

#secC, .box1 {
    width:400px;
    padding:5px;
}

.button {
    border:none; background:#777;
    width:100px; line-height: 40px;
    text-align: center;
    color:#FFF;
    cursor: pointer;
}

.button:hover { background:#FFF; color:#000 }

.active { background:#FFF; color:#000 }

















